brotli==1.0.9
chardet==4.0.0
setuptools-rust==1.1.0
cryptography==36.0.0
Cython==0.29.24
dl==0.1.0
editdistance==0.6.0
ipaddr==2.2.0
matplotlib
mock==4.0.3
numpy
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
simplejson==3.17.6
scikit-image
torch==1.7.1
torchvision
unicodedata2==13.0.0.post2
wincertstore
opencv_python